# Framework Web
fastapi==0.115.0
uvicorn[standard]==0.32.1

# Base de Datos
mysql-connector-python==9.1.0

# Validación de datos
pydantic==2.10.5

# CORS y multipart
python-multipart==0.0.20

# Email con Resend
resend==2.22.0
